<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/sign_up.css">

<section class="container forms">
    <div class="form signup">
        <div class="form-content">
            <header id="form_header">Users List🧾</header>
            <div class="linesimple"></div>
            
            <ul style="list-style: none; text-align: left;">
                <% for(user of all_users){ %>
            
                    <li> <a href="/users/profile/<%= user._id%>">☺ <%= user.name %></a> </li>
            
                <% } %>
            </ul>
    </div>
</section>
